In [1]:
#1. CARGAR LIBRERÍAS
import pandas as pd
from pycaret.classification import *

In [2]:
#2. CARGAR DATOS
df = pd.read_csv('caso1_churn_clientes.csv')

In [3]:
df.head()

,edad,meses_como_cliente,frecuencia_uso,soporte_llamadas,tipo_plan,usa_app_movil,churn
0,50,42,13,2,Estándar,1,0
1,38,24,10,0,Básico,1,0
2,50,17,9,8,Estándar,1,0
3,32,7,10,0,Premium,1,0
4,23,20,9,6,Estándar,1,0

In [5]:
df['churn'].value_counts()

churn
0    221
1     79
Name: count, dtype: int64

In [6]:
#3. CONFIGURACIÓN DEL ENTORNO
clf = setup(data=df,
            target='churn',
            session_id=123,
            normalize=True,
            categorical_features=['tipo_plan','usa_app_movil'])

In [11]:
#4. COMPARACION DE MODELOS PARA EXPLORAR
best_model = compare_models(sort='AUC')

In [17]:
#5. CREAR EL MODELO ESPECÍFICO 
dt = create_model('dt')

Initiated  . . . . . . . . . . . . . . . . . .              21:01:51
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [ ]:
#COEFCIENTE DE VARIACION: 0.1328/0.3839

0.34592341755665534

In [22]:
#6.AJUSTAR MODELO
tuned_dt=tune_model(dt)

Initiated  . . . . . . . . . . . . . . . . . .              21:02:49
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [24]:
#7.EVALUAR LOS RESULTADOS
evaluate_model(dt)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…