In [ ]:
#Instalacion de Pypcaret
# pip install Pypcaret
##Pipeline de pycaret:

#1. Setup(): Definir el dataset y parámetros
#2. Compare_models(): Comparar multiples modelos y los rankear
#3. Create model(): Crear un modelo específico
#4. Tune_model(): Ajuste automático de hiperparámetros
#5. plot_model(): visualizar el desempeño del modelo
#6. Evaluate_model(): Evaluación del modelo
#7. Predict_model(): Predicciones sobre nuevos datos en el DF
#8. Save_model/load_model(): Guardar y cargar el modelo

In [ ]:
##CASO: Predicción de precios de departamentos en Lima:

##Objetivo: Construir un modelo de regresión automático con pycaret para predecir el precio de departamentos en base a sus features

In [1]:
import pandas as pd

from pycaret.regression import *

In [2]:
#1. Cargamos la data

df = pd.read_csv('precio_departamentos.csv')

In [3]:
import os

print(os.getcwd())

e:\CURSOS DMC\Especialización en Machine Learning Engineering\DMC_MLE_G8

In [4]:
df.head()

,area_m2,num_habitaciones,num_banos,distrito,antiguedad_anos,vista_mar,precio
0,139,1,2,San Isidro,7,0,380619.28
1,96,1,1,San Isidro,7,0,221302.53
2,122,4,1,San Isidro,23,0,338702.68
3,128,2,1,Surco,21,1,341815.62
4,132,3,2,Surco,19,0,346460.60

In [5]:
#1. Setup(): Definir el dataset y parámetros

reg = setup(data=df, target='precio', session_id=123, normalize=True, categorical_features=['distrito'])

In [6]:
#2. Compare_models(): Comparar multiples modelos y los rankear

best_model = compare_models()

In [ ]:
#3. Create model(): Crear un modelo específico
lr = create_model('lr')

In [8]:
#4. Tune_model(): Ajuste automático de hiperparámetros

tuned_lr = tune_model(lr)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [ ]:
#5. plot_model(): visualizar el desempeño del modelo

evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [10]:
#7. Predict_model(): Predicciones sobre nuevos datos en el DF

preds = predict_model(tuned_lr)

print(preds.head())

    area_m2  num_habitaciones  num_banos    distrito  antiguedad_anos  \
8        87                 2          2  San Isidro               19
70      100                 4          2  Miraflores                5
82       31                 1          1       Surco               14
28       97                 3          2       Surco               12
63      130                 1          1       Surco                0

    vista_mar         precio  prediction_label
8           0  242334.515625     229980.233894
70          1  300367.437500     323149.386211
82          1  122736.742188      96058.098024
28          1  315150.500000     298969.196595
63          1  364217.593750     361290.005458

In [11]:
#8. Save_model/load_model(): Guardar y cargar el modelo

save_model(tuned_lr,'modelo_precio_final')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['area_m2', 'num_habitaciones',
                                              'num_banos', 'antiguedad_anos',
                                              'vista_mar'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['distrito'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['distrito'],
                                     transformer=OneHotEncoder(cols=['distrito'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model', LinearRegression(n_jobs=-1))]),
 'modelo_precio_final.pkl')

In [ ]:
##CONCLUSIONES

#1. EN PROMEDIO, EL MODELO SE EQUIVOCA EN UN 5.76% DEL PRECIO REAL
#2. EL MODELO EXPLICA EL 97% DE LA VARIANZA DEL PRECIO
#3. ERROR LOGARITMICO (0.08) ES BAJO, BUEN PERFORMANCE EN ESCALAS GRANDES
#4. EL FEATURE MAS IMPORTANTE ES EL AREAM2
##CONCLUSION EL MODELO TIENE MUY BUEN AJUSTE GLOBAL. ES EXPLICATIVO (R2 ALTO) Y PRECISO (MAPE PEQUEÑO)